#include <dt-bindings/pinctrl/pinctrl-zynqmp.h>

&gem3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gem3_default>;

	mdio: mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy0: ethernet-phy@1 {
			reg = <0x1>;
			device_type = "ethernet-phy";
		};
	};
};

&sdhci1 {
	disable-wp;
	no-1-8-v;
	u-boot,dm-pre-reloc;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sdhci1_default>;
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart0_default>;
};

&usb0 {
    status  = "okay";
    dr_mode = "host";
};
&dwc3_0 {
    status = "okay";
};

&usb1 {
    status  = "okay";
    dr_mode = "host";
};
&dwc3_1 {
    status = "okay";
};

&pinctrl0 {
	status = "okay";
	u-boot,dm-pre-reloc;

	pinctrl_gem3_default: gem3-default{
		mux {
			function = "ethernet3";
			groups = "ethernet3_0_grp";
		};

		conf {
			groups = "ethernet3_0_grp";
			slew-rate = <SLEW_RATE_SLOW>;
			io-standard = <IO_STANDARD_LVCMOS18>;
		};
		
		conf-rx {
			pins = "MIO70", "MIO71", "MIO72", "MIO73", "MIO74", "MIO75";
			bias-high-impedance;
			low-power-disable;
		};

		conf-tx {
			pins = "MIO64", "MIO65", "MIO66", "MIO67", "MIO68", "MIO69";
			bias-disable;
			low-power-enable;
		};
	};

	pinctrl_uart0_default: uart0-default {
		mux {
			groups = "uart0_10_grp";
			function = "uart0";
		};

		conf {
			groups = "uart0_10_grp";
			slew-rate = <SLEW_RATE_SLOW>;
			io-standard = <IO_STANDARD_LVCMOS18>;
		};

		conf-rx {
			pins = "MIO42";
			bias-high-impedance;
		};

		conf-tx {
			pins = "MIO43";
			bias-disable;
		};
	};

	pinctrl_sdhci1_default: sdhci1-default {
		mux {
			groups = "sdio1_4bit_0_0_grp";
			function = "sdio1";
		};

		conf {
			groups = "sdio1_4bit_0_0_grp";
			slew-rate = <SLEW_RATE_SLOW>;
			power-source = <IO_STANDARD_LVCMOS18>;
			bias-disable;
		};

		mux-cd {
			groups = "sdio1_cd_0_grp";
			function = "sdio1_cd";
		};

		conf-cd {
			groups = "sdio1_cd_0_grp";
			bias-high-impedance;
			bias-pull-up;
			slew-rate = <SLEW_RATE_SLOW>;
			power-source = <IO_STANDARD_LVCMOS18>;
		};
	};
};

&axi_dma_0 {
    dma-coherent;
};

&amba_pl {

	dma_proxy {  
		compatible ="xlnx,dma_proxy";
		dmas = <&axi_dma_0 0  &axi_dma_0 1>;
		dma-names = "dma_proxy_tx", "dma_proxy_rx";  
		dma-coherent;
	};
};

/ {
	leds {
		compatible = "gpio-leds";

		pl-led {
			label = "pl_led";
			gpios = <&axi_gpio_0 0 0 0>;
			default-state = "on";
			linux,default-trigger = "none";
		};

		ps-led{
			label = "ps_led";
			gpios = <&ps_gpio 40 0>;
			default-state = "on";
			linux,default-trigger = "none";
		};
	};
};

&amba{
	ps_gpio: gpio@ff0a0000 {
		compatible = "xlnx,zynqmp-gpio-1.0";
		status = "okay";
		#gpio-cells = <0x02>;
		gpio-controller;
		interrupt-parent = <0x04>;
		interrupts = <0x00 0x10 0x04>;
		interrupt-controller;
		#interrupt-cells = <0x02>;
		reg = <0x00 0xff0a0000 0x00 0x1000>;
		power-domains = <0x0c 0x2e>;
		clocks = <0x03 0x1f>;
		emio-gpio-width = <0x20>;
		gpio-mask-high = <0x00>;
		gpio-mask-low = <0x5600>;
		phandle = <0x54>;
	};
};

&axi_gpio_0{
	label = "axi_gpio_pl";
};
